@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=New+Tegomin&display=swap");

.title {
  font-family: "New Tegomin", serif;
}

.categorytitle {
  margin-top: 100px;
  padding-top: 100px;
  font-size: 70px;
}

.tag {
  font-size: 22px;
}

.image {
  object-fit: cover;
  display: block;
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
  opacity: 0.85;
  padding: 6px;
}

.image:hover {
  opacity: 1;
  transition: 0.5s;
  transform: scale(1.05);
}
